@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('moon.jpg');
  background-size: cover;
  background-position: center;
}

.container {
  position:  relative;
  border-radius: 15px;
  padding: 20px;
  background: rgba(255,255,255, .2);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255,255,255,.2);
  border-radius: 20px;

  color: #fff;
  width: 400px;
  height: 50px;
  transition: height .6s ease-in;
}

.search-box {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}

.search-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid rgba(255,255,255, .2);
  border-radius: 10px;
  outline: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 0 30px 0 40px;
}

.search-box input::placeholder {
  color: #fff;
}

.search-box button {
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
  font-size: 20px;
  padding: 2px 40px 0 4px;
  cursor: pointer;
}

.search-box i {
  position: absolute;
  left: 10px;
  font-size: 22px;
}

/* Weather box */

.weather-box {
  text-align: center;
  margin: 30px 0;
}

.weather-box,
.weather-details,
.not-found {
  overflow: hidden;
  visibility: hidden;
}

.weather-box.active,
.weather-details.active,
.not-found.active {
  visibility: visible;
}

/* Transition Up to Down */
.weather-box .box, 
.not-found .box {
  transform: translateY(-100%)
}

.weather-box.active .box, 
.not-found.active .box,
.weather-details.active .humidity, 
.weather-details.active .wind {
  transform: translateY(0%);
  transition: transform .4s ease-in-out;
  transition-delay: .2s;
}

.weather-box .box .info-weather {
  transform: translateY(-120%);
}

/* Transion */


.weather-box img {
  width: 60%;
}

.weather-box .temperature {
  position: relative;
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
  margin: 20px 0 6px -5px;

}

.weather-box .temperature span {
  position: absolute;
  font-size: 25px;
  margin-left: 4px;
}

/* Weather Details */

.weather-details {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.weather-details i {
  font-size:  50px;
  margin: 0 15px;
}

.weather-details .humidity, 
.weather-details .wind {
  display: flex;
  align-items: center;
  width: 50%;
  padding-bottom: 15px;
  transform: translateY(-100%);
}

.weather-details .humidity .info-humidity, 
.weather-details .wind .info-wind {
  transform: translateY(-100%);
  overflow: hidden; 
}

.weather-details .humidity {
  padding-left: 5px;
}

.weather-details span {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
}

.weather-details p {
  font-size: 14px;
  font-weight: 500;
}

/* Location Not Found */

.not-found {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
}

.not-found img {
  width: 80%;
}

.not-found p {
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
}

.city-hide {
  display: none;
}

.container.active .weather-box .box .info-weather,
.container.active .weather-details .humidity .info-humidity,
.container.active .weather-details .wind .info-wind {
  transform: translateY(0%);
  transition: transform .6s ease;
}
